---
import { Icon } from 'astro-icon';
---

<section class="relative border-t border-stone-200 dark:border-steel-600">
	<div class="inset-0 bg-primary-50 dark:bg-steel-800">
		<div class="py-12 md:py-20">
			<div class="
				max-w-3xl mx-auto text-center p-6
				prose dark:prose-invert prose-steel
				prose-a:underline-offset-4 prose-a:decoration-steel-200 dark:prose-a:decoration-steel-500
				hover:prose-a:text-primary-600 dark:hover:prose-a:text-primary-400
			">
				<h2 class="text-4xl md:text-4xl font-bold text leading-tighter tracking-tighter mb-6 font-heading">
					Get Involved
				</h2>
				<p>
					<strong>Forgejo consists of motivated people, and we are looking forward to
					<a href="https://codeberg.org/forgejo/forgejo/src/branch/forgejo/CONTRIBUTING.md">your contribution</a></strong>.<br />
					Feel free to help in the domains of
					<a href="https://codeberg.org/forgejo/forgejo/issues">code, federation, releases management</a>,
					User Research, UX, <a href="https://codeberg.org/forgejo/code-of-conduct/issues">community management</a>,
					documentation, web design, <a href="https://codeberg.org/forgejo/meta/issues">governance</a> and more.
				</p>

				<div class="mt-8 not-prose">
					<a
						class="btn btn-primary dark:btn-dark mb-4 sm:mb-0"
						href="https://codeberg.org/forgejo/forgejo"
						target="_blank"
						rel="noopener"
					>
						<Icon name="tabler:git-merge" class="w-5 h-5 mr-1 -ml-1.5" /> Contribute on Codeberg
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
