---
import { Icon } from 'astro-icon';
import { marked } from 'marked';

import { Picture } from '@astrojs/image/components';
import ReleaseStatus from '~/components/atoms/ReleaseStatus.astro';

import { getPermalink } from '~/utils/permalinks';
import { findImage } from '~/utils/images';
import { getFormattedDate } from '~/utils/utils';

const { release } = Astro.props;

const image = await findImage(release.image);
---

<article class="max-w-xl mx-auto md:max-w-none grid blog-list-item md:blog-list-item-wide">
	<header class="[grid-area:title]">
		<h2 class="text-xl font-bold leading-8 md:mb-1 font-heading underline underline-offset-4 decoration-steel-100 dark:decoration-steel-600 decoration-1">
			<a
				class="hover:text-primary-400 dark:text-steel-200 dark:hover:text-primary-600 hover:decoration-current transition ease-in duration-200"
				href={release.html_url}
			>
				{release.name}
			</a>
		</h2>
	</header>
	<footer class="[grid-area:meta] text-sm md:text-right md:leading-8">
		<time
			class="text-zinc-500 dark:text-zinc-400"
			datetime={release.published_at}
		>
			{getFormattedDate(release.published_at)}
		</time>
		<ReleaseStatus release={release} class="inline md:block text-sm ml-2" />
	</footer>
	<div class="[grid-area:content] pb-10">
		<!-- {release.body && <details class="mb-1 open:bg-white dark:open:bg-steel-900 open:ring-1 open:ring-black/5 dark:open:ring-white/10 p-3 -mx-3 open:mb-3 open:shadow-lg rounded-lg">
			<summary class="font-bold">Release Notes</summary>
			<div class="prose dark:prose-invert prose-sm mt-3 mx-4" set:html={marked.parse(release.body)} />
		</details>} -->
		{release.body && (
			<div class="prose prose-steel dark:prose-invert prose-sm mt-2 mb-4 leading-tight" set:html={marked.parse(release.body)} />
		)}
		<Icon name="tabler:download" class="w-4 h-4 mr-1 -mt-1 inline-block" />
		<a
			class="text-primary-700 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-600 transition ease-in duration-200"
			href={release.html_url}
		>
			Download on Codeberg →
		</a><br />
		<Icon name="octicon:container-24" class="w-4 h-4 mr-1 -mt-1 inline-block" />
		<a
			class="text-primary-700 hover:text-primary-500 dark:text-primary-400 dark:hover:text-primary-600 transition ease-in duration-200"
			href={`https://codeberg.org/forgejo/-/packages/container/forgejo/${release.tag_name.replace(/^v/, '')}`}
		>
			Get container image →
		</a>
	</div>
	<div class="[grid-area:line]">
		<div class="w-2.5 h-2.5 mt-3 mx-auto rounded-full border-steel-300 dark:border-steel-500 border-2"></div>
		<div class="w-[2px] h-full mx-auto bg-steel-200 dark:bg-steel-600"></div>
	</div>
</article>
