---
import PostTags from '~/components/atoms/Tags.astro';

import { getFormattedDate } from '~/utils/utils';

const { post } = Astro.props;
---

<section class="py-8 sm:py-16 lg:py-20 mx-auto">
	<article>
		<header class="max-w-3xl mx-auto px-4 sm:px-6">
			<hgroup class="mb-6 pb-6 border-b border-steel-100 dark:border-steel-700">
				<div class="text-sm text-steel-600 dark:text-steel-300 mb-2">
					<time datetime={post.publishDate}>{getFormattedDate(post.publishDate)}</time>
					<PostTags tags={post.tags} class="inline ml-4" />
				</div>
				<h1
					class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter font-heading"
				>
					{post.title}
				</h1>
			</hgroup>
		</header>
		<div
			class="
				container mx-auto px-6 sm:px-6 max-w-3xl
				prose prose-steel dark:prose-invert
				prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold
				prose-a:underline-offset-4 prose-a:decoration-steel-200 dark:prose-a:decoration-steel-500
				hover:prose-a:text-primary-600 dark:hover:prose-a:text-primary-400
				prose-img:rounded-md prose-img:shadow-lg
			"
		>
			{post.Content ? <post.Content /> : <Fragment set:html={post.body} />}
		</div>
	</article>
</section>
