---
import Layout from '@layouts/PageLayout.astro';

interface Props {
	frontmatter: {
		title: string;
		pubDate: string;
		tags?: string[];
	};
	headings: {
		depth: number;
		text: string;
		slug: string;
	}[];
}
const { frontmatter } = Astro.props;

function formatDate(s: string) {
	const d = new Date(s);
	return d.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });
}
---

<Layout title={frontmatter.title}>
	<section class="py-8 sm:py-16 lg:py-20 mx-auto">
		<div
			class="
				container mx-auto px-6 sm:px-6 max-w-3xl
				prose prose-steel dark:prose-invert
				prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold
				prose-a:underline-offset-4 prose-a:decoration-steel-200 dark:prose-a:decoration-steel-500
				hover:prose-a:text-primary-600 dark:hover:prose-a:text-primary-400
				prose-img:rounded-md prose-img:shadow-lg
			"
		>
			<h1 class="mb-6 pb-6 border-b border-steel-100 dark:border-steel-700">
				{frontmatter.title}
			</h1>
			<slot />
		</div>
	</section>
</Layout>
